# Advanced Programming Assignment 23

In [150]:
# Q.1.

class Sudoku:
    def __init__(self, lst):
        self.board = []
        for i in range(0, 81, 9):
            self.board.append(list(map(int, lst[i:i+9])))
    def get_row(self, n):
        return self.board[n]
    def get_col(self, n):
        return [self.board[x][n] for x in range(9)]
    def get_sqr(self, *pos):
        ans = []
        if len(pos) == 1:
            start_x = (pos[0] % 3) * 3
            start_y = pos[0] // 3 * 3
            
            l = []
            for i in range(start_y, start_y + 3):
                l.append(self.board[i][start_x:start_x+3])
            return l
        elif len(pos) == 2:
            ranges = [(0, 2), (3, 5), (6, 8)]
            row, col = -1, -1
            for i in range(len(ranges)):
                if pos[0] >= ranges[i][0] and pos[0] <= ranges[i][1]:
                    row = i
                    break
            for i in range(len(ranges)):
                if pos[1] >= ranges[i][0] and pos[1] <= ranges[i][1]:
                    col = i
                    break
            return self.get_sqr(row * 3 + col)

In [151]:
game = Sudoku("417950030000000700060007000050009106800600000000003400900005000000430000200701580")

In [152]:
game.board

[[4, 1, 7, 9, 5, 0, 0, 3, 0],
 [0, 0, 0, 0, 0, 0, 7, 0, 0],
 [0, 6, 0, 0, 0, 7, 0, 0, 0],
 [0, 5, 0, 0, 0, 9, 1, 0, 6],
 [8, 0, 0, 6, 0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0, 3, 4, 0, 0],
 [9, 0, 0, 0, 0, 5, 0, 0, 0],
 [0, 0, 0, 4, 3, 0, 0, 0, 0],
 [2, 0, 0, 7, 0, 1, 5, 8, 0]]

In [153]:
game.get_row(0)

[4, 1, 7, 9, 5, 0, 0, 3, 0]

In [154]:
game.get_col(8)

[0, 0, 0, 6, 0, 0, 0, 0, 0]

In [155]:
game.get_sqr(1)

[[9, 5, 0], [0, 0, 0], [0, 0, 7]]

In [156]:
game.get_sqr(1, 8)

[[0, 3, 0], [7, 0, 0], [0, 0, 0]]

In [157]:
game.get_sqr(8, 3)

[[0, 0, 5], [4, 3, 0], [7, 0, 1]]

In [19]:
# Q.2.

class ListNode:
    def __init__(self, val=0, next=None):
        self.val = val
        self.next = next
    def add_data(self, data):
        curr = self
        while curr.next:
            curr = curr.next
        for d in data:
            n = ListNode(d)
            curr.next = n
            curr = curr.next
    def get_data(self):
        curr = self
        data = [self.val]
        while curr.next:
            data.append(curr.next.val)
            curr = curr.next
        return data

In [48]:
def add_two_numbers(ll1, ll2):
    d1 = list(map(str, ll1.get_data()))
    num1 = int("".join(d1))
    d2 = list(map(str, ll2.get_data()))
    num2 = int("".join(d2))
    num3 = num1 + num2
    rev3 = str(num3)[::-1]
    ll3 = ListNode(int(rev3[0]))
    curr = ll3
    for i in range(1, len(rev3)):
        curr.next = ListNode(int(rev3[i]))
        curr = curr.next
    return ll3

In [52]:
lt1 = ListNode(2)
lt1.add_data([4, 3])
lt2 = ListNode(5)
lt2.add_data([6, 4])
print(lt1.get_data()) # [2, 4, 3]
print(lt2.get_data()) # [5, 6, 4]
print(342 + 465) # 807
print(add_two_numbers(lt1, lt2).get_data()) #[7, 0, 8]
lt1 = ListNode(0)
lt2 = ListNode(0)
print(lt1.get_data()) # [0]

print(lt2.get_data()) # [0]
print(0 + 0) # 0
print(add_two_numbers(lt1, lt2).get_data()) #[0]

[2, 4, 3]
[5, 6, 4]
807
[7, 0, 8]
[0]
[0]
0
[0]

In [53]:
lt1 = ListNode(9)
lt1.add_data([9,9,9,9,9,9])
lt2 = ListNode(9)
lt2.add_data([9,9,9])
print(lt1.get_data()) # [9, 9, 9, 9, 9, 9, 9]
print(lt2.get_data()) # [9, 9, 9, 9]
print(9999999 + 9999) # 10009998
print(add_two_numbers(lt1, lt2).get_data()) #[8, 9, 9, 9, 0, 0, 0, 1]

[9, 9, 9, 9, 9, 9, 9]
[9, 9, 9, 9]
10009998
[8, 9, 9, 9, 0, 0, 0, 1]

In [105]:
# Q.3.

class CoffeeShop:
    def __init__(self, name, menu = [], orders = []):
        self.name = name
        self.menu = menu
        self.orders = orders
    def add_order(self, order):
        for item in self.menu:
            if order == item["name"]:
                self.orders.append(order)
                return "Order added!"
        return "This item is currently unavailable!"
    def fulfill_order(self):
        if self.orders == []:
            return "All orders have been fulfilled!"
        else:
            order = self.orders[0]
            self.orders.remove(order)
            return "The " + order + " is ready!"
    def list_orders(self):
        return self.orders
    def due_amount(self):
        amt = 0.0
        for item in self.menu:
            if item["name"] in self.orders:
                amt += item["price"]
        return amt
    def cheapest_item(self):
        ch_item = ""
        for item in self.menu:
            if ch_item == "":
                ch = item["price"]
                ch_item = item["name"]
            elif item["price"] < ch:
                ch = item["price"]
                ch_item = item["name"]
        if ch_item == "":
            return "No items in menu"
        else:
            return ch_item
    def drinks_only(self):
        drinks = []
        for item in self.menu:
            if item["type"] == "drinks":
                drinks.append(item["name"])
        return drinks
    def food_only(self):
        food = []
        for item in self.menu:
            if item["type"] == "food":
                food.append(item["name"])
        return food

In [106]:
menu = [{'name': 'orange juice', 'price': 44, 'type': 'drinks'},
 {'name': 'lemonade', 'price': 2, 'type': 'drinks'},
 {'name': 'cranberry juice', 'price': 40, 'type': 'drinks'},
 {'name': 'pineapple juice', 'price': 21, 'type': 'drinks'},
 {'name': 'lemon iced tea', 'price': 18, 'type': 'drinks'},
 {'name': 'vanilla chai latte', 'price': 44, 'type': 'drinks'},
 {'name': 'hot chocolate', 'price': 23, 'type': 'drinks'},
 {'name': 'iced coffee', 'price': 43, 'type': 'drinks'},
 {'name': 'tuna sandwich', 'price': 14, 'type': 'food'},
 {'name': 'ham and cheese sandwich', 'price': 25, 'type': 'food'},
 {'name': 'bacon and egg', 'price': 5, 'type': 'food'},
 {'name': 'steak', 'price': 8, 'type': 'food'},
 {'name': 'hamburger', 'price': 14, 'type': 'food'},
 {'name': 'cinnamon roll', 'price': 21, 'type': 'food'}]

In [107]:
tcs = CoffeeShop("Starbucks", menu)

In [108]:
tcs.add_order("hot cocoa")

'This item is currently unavailable!'

In [109]:
tcs.add_order("iced tea")

'This item is currently unavailable!'

In [110]:
tcs.add_order("cinnamon roll")

'Order added!'

In [111]:
tcs.add_order("iced coffee")

'Order added!'

In [112]:
tcs.list_orders()

['cinnamon roll', 'iced coffee']

In [113]:
tcs.due_amount()

64.0

In [114]:
tcs.fulfill_order()

'The cinnamon roll is ready!'

In [115]:
tcs.fulfill_order()

'The iced coffee is ready!'

In [116]:
tcs.fulfill_order()

'All orders have been fulfilled!'

In [117]:
tcs.list_orders()

[]

In [118]:
tcs.due_amount()

0.0

In [119]:
tcs.cheapest_item()

'lemonade'

In [120]:
tcs.drinks_only()

['orange juice',
 'lemonade',
 'cranberry juice',
 'pineapple juice',
 'lemon iced tea',
 'vanilla chai latte',
 'hot chocolate',
 'iced coffee']

In [121]:
tcs.food_only()

['tuna sandwich',
 'ham and cheese sandwich',
 'bacon and egg',
 'steak',
 'hamburger',
 'cinnamon roll']

In [21]:
# Q.4.

def loneliest_number(start, end):
    if end <= start:
        return {}
    def isPrime(nu):
        if nu < 2:
            return False
        if nu == 2:
            return True
        for i in range(2, nu//2):
            if nu % i == 0:
                return False
        return True
    def lowerPrime(st):
        if st <= 2:
            return None
        for i in range(st-1, 2, -1):
            if isPrime(i):
                return i
    def higherPrime(en):
        if en <= 2:
            return None
        i = en + 1
        while True:
            if isPrime(i):
                return i
            i += 1
        
    prime = {}
    lowerP = lowerPrime(start)
    higherP = higherPrime(end)
    for i in range(start, end + 1):
        if isPrime(i):
            prime[i] = True
        else:
            prime[i] = False
    closest = {}
    for i in range(start, end + 1):
        min_d = end - start + 2
        for j in range(start, end + 1):
            if i == j:
                continue
            if prime[j] == True:
                if abs(i - j) <= min_d:
                    if lowerP:
                        if abs(i-j) < abs(i-lowerP):
                            min_d = abs(i - j)
                            closest[i] = (j, min_d)
                        else:
                            min_d = abs(i-lowerP)
                            closest[i] = (lowerP, min_d)
                    if higherP:
                        if abs(i-j) < abs(i-higherP):
                            min_d = abs(i - j)
                            closest[i] = (j, min_d)
                        else:
                            min_d = abs(i-higherP)
                            closest[i] = (higherP, min_d)
    
    max_closest = 0
    prime_closest = 0
    for i in range(start, end + 1):
        if closest[i][1] > max_closest and closest[i][0] != higherP and closest[i][0] != lowerP:
            max_closest = closest[i][1]
            lonely = i
            prime_closest = closest[i][0]
    return {"number":lonely, "distance":max_closest, "closest":prime_closest}

In [22]:
loneliest_number(0, 22)

{'number': 0, 'distance': 2, 'closest': 2}

In [23]:
loneliest_number(8, 123)

{'number': 53, 'distance': 6, 'closest': 59}

In [24]:
loneliest_number(938, 1190)

{'number': 1140, 'distance': 11, 'closest': 1151}

In [25]:
loneliest_number(120, 1190)

{'number': 211, 'distance': 12, 'closest': 223}

In [30]:
# Q.5.

class Selfie:
    def __init__(self):
        self.x = None
        self.states = []
    def save_state(self):
        self.states.append(self.x)
    def n_states(self):
        return len(self.states)
    def recover_state(self, n):
        self.x = self.states[n]
        return self

In [31]:
p = Selfie()
p.x = 2
p.save_state()
p.x = 5
p = p.recover_state(0)
p.x

2