# Advanced Programming Assignment 6

In [15]:
# Q.1.

def find_the_difference(s, t):
    s1 = sorted(list(s))
    t1 = sorted(list(t))
    for i in range(len(s1)):
        if t1[i] != s1[i]:
            return t1[i]
    return t1[-1]

In [16]:
find_the_difference("abcd", "abcde")

'e'

In [17]:
find_the_difference("", "y")

'y'

In [18]:
find_the_difference("ae", "aea")

'a'

In [33]:
# Q.2.

def count_datatypes(*args):
    order = [int, str, bool, list, tuple, dict]
    ans = [0]*6
    for x in args:
        t = type(x)
        try:
            ans[order.index(t)] += 1
        except Exception:
            print("Argument type has to be one of int, str, bool, list, tuple, dict")
    return ans

In [34]:
count_datatypes(1, 45, "Hi", False)

[2, 1, 1, 0, 0, 0]

In [35]:
count_datatypes([10, 20], ("t", "Ok"), 2, 3, 1)

[3, 0, 0, 1, 1, 0]

In [36]:
count_datatypes("Hello", "Bye", True, True, False, {"1": "One", "2": "Two"}, [1,
3], {"Brayan": 18}, 25, 23)

[2, 2, 3, 1, 0, 2]

In [37]:
count_datatypes(4, 21, ("ES", "EN"), ("a", "b"), False, [1, 2, 3], [4, 5, 6])

[2, 0, 1, 2, 2, 0]

In [78]:
# Q.3.

def fib_str(n, ls):
    if n <=2:
        s = ", ".join(ls[:n])
    else:
        for i in range(2, n):
            ls.append(ls[i-1] + ls[i-2])
        s = ", ".join(ls[:n])
    return s

In [79]:
fib_str(2, ["j", "h"])

'j, h'

In [80]:
fib_str(3, ["j", "h"])

'j, h, hj'

In [81]:
fib_str(4, ["j", "h"])

'j, h, hj, hjh'

In [82]:
fib_str(5, ["e", "a"])

'e, a, ae, aea, aeaae'

In [83]:
fib_str(6, ["n", "k"])

'n, k, kn, knk, knkkn, knkknknk'

In [101]:
# Q.4.

def ones_threes_nines(n):
    '''
    n = x*9 + y*3 + z*1 where 0 <= n <= 26
    This function finds x,y,z for the above equation such that x+y+z is minimum
    '''
    if type(n) != int or n < 0 or n > 26:
        print("Input should be an integer between 0 and 26")
        return None
    multipliers = [9, 3, 1]
    ans = [0,0,0]
    if n <= 1:
        return "nines:0, threes:0, ones:0"
    rem = n
    for i in range(len(multipliers)):
        if rem >= multipliers[i]:
            ans[i] = rem // multipliers[i]
            rem = rem % multipliers[i]
    return "nines:" + str(ans[0]) + ", threes:" + str(ans[1]) + ", ones:" + str(ans[2])

In [102]:
ones_threes_nines(22)

'nines:2, threes:1, ones:1'

In [103]:
ones_threes_nines(15)

'nines:1, threes:2, ones:0'

In [104]:
ones_threes_nines(10)

'nines:1, threes:0, ones:1'

In [120]:
# Q.5.

def fib(n):
    if n <= 1:
        return n
    a = 0
    b = 1
    for i in range(2, n+1):
        x = a + b
        a = b
        b = x
    return x

In [122]:
fib(1)

1

In [123]:
fib(2)

1

In [124]:
fib(6)

8